<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"  crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <title>TopSearch</title>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <a class="navbar-brand"><font color="#ff8c00" size="6">TopSearch</font></a>
                <div class="col-lg-3"></div>
                <ul class="nav navbar-nav" >
                    <li><a href="/">Home</a></li>
                    <li><a href="/indexation/">Indexation</a></li>
                    <li class="btn-info"><a href="">URLs</a></li>
                    <li><a href="/settings/">Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <form method="post" action="">
                <div class="col-lg-2" style="margin-left: 450px;">
                    <input name="id" type="number" class="form-control" placeholder="ID to delete">
                </div>
                <button type="submit" class="btn btn-info">
                     Delete
                </button>
                <div class="row">
                    <div class="panel panel-default filterable">
                        <table class="table" style="width: 900px; table-layout: fixed">
                            <tr>
                                <th style="width: 100px;"><b><font color="#4b0082">ID</font></b></th>
                                <th style="width: 200px;"><b><font color="#4b0082" style="margin-left: 40px">URL</font></b></th>
                                <th style="width: 100px;"><b><font color="#4b0082">Title</font></b></th>
                                <th style="width: 750px;"><b><font color="#4b0082" style="margin-left: 350px">Text</font></b></th>
                            </tr>
                            {% for page in pages %}
                            <tr>
                                <td style="width:100px;word-wrap: break-word;">{{ page.id }}</td>
                                <td style="width:200px;word-wrap: break-word;">{{ page.url }}</td>
                                <td style="width:100px;word-wrap: break-word;">{{ page.title }}</td>
                                <td style="width:750px;word-wrap: break-word;">{{ page.text|truncatewords:50 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        {% load staticfiles %}
        <script src="{% static "js/bootstrap.min.js"%}"></script>
    </body>
</html>>